<!-- top navigation bar -->
<nav class="navbar navbar-expand-lg navbar-dark bg-blue fixed-top" style="background:darkslategray">
  <div class="container-fluid">
    <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#sidebar"
      aria-controls="offcanvasExample">
      <span class="navbar-toggler-icon" data-bs-target="#sidebar"></span>
    </button>
    <span>
      <i class="bi bi-cart4" style="color: floralwhite;"></i>
    </span>

    <a class="navbar-brand me-auto ms-lg-0 ms-3 text-uppercase fw-bold" href="#" style="margin-left: 3%;">Easy Cart</a>

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#topNavBar"
      aria-controls="topNavBar" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="topNavBar" style="margin-left: 58%;">
      <form class="d-flex ms-auto my-3 my-lg-0" [formGroup]="searchForm">
        <div class="input-group">
          <input class="form-control" type="search" placeholder="Search" aria-label="Search" formControlName="search" />
          <button class="btn btn-primary" type="submit" (click)="search(searchForm.get('search')?.value)">
            <i class="bi bi-search"></i>
          </button>
        </div>
      </form>
      <ul class="navbar-nav">
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle ms-2" href="#" role="button" data-bs-toggle="dropdown"
            aria-expanded="false">
            <i class="bi bi-person-fill"></i>
          </a>
          <ul class="dropdown-menu dropdown-menu-end">
            <li><a class="dropdown-item" href="#">Profile</a></li>
            <!-- <li><a class="dropdown-item" href="#">Another action</a></li> -->
            <li>
              <a class="dropdown-item" href="#">Logout</a>
            </li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>
<!-- top navigation bar -->
<!-- offcanvas -->
<div class="offcanvas offcanvas-start sidebar-nav bg-dark" tabindex="-1" id="sidebar"
  style="background: darkslategray;margin-top: 4.3%;">
  <div class="offcanvas-body p-0">
    <nav class="navbar-dark">
      <ul class="navbar-nav">

        <li>
          <a href="#" class="nav-link px-3 ">
            <span class="me-2"><i class="bi bi-house-fill fa-2x"></i></span>
            <span style="margin-left: 2%;font-size:medium;">Home</span>
          </a>
        </li>
        <li class="my-4">
          <hr class="dropdown-divider bg-light" />
        </li>
        <li>
          <a routerLink="/admin-inbox" class="nav-link px-3 ">
            <span class="me-2"><i class="bi bi-envelope fa-2x"></i></span>
            <span style="margin-left: 2%;font-size:medium;">Mail</span>
          </a>
        </li>

        <li>
          <a routerLink="/notification" class="nav-link px-3">
            <span class="me-2"><mat-icon matBadge="{{this.count}}" matBadgeColor="warn" > notifications</mat-icon></span>
            <span style="margin-left: 2%;font-size:medium;">Notifications</span>
          </a>
        </li>
        <li>
          <a href="#" class="nav-link px-3">
            <span class="me-2"><i class="bi bi-receipt fa-2x"></i></span>
            <span style="margin-left: 2%;font-size:medium;">Invoice</span>
          </a>
        </li>

        <li>
          <a routerLink="/logistics"class="nav-link px-3">
            <span class="me-2"> <i class="bi bi-truck-flatbed fa-2x"></i></span>
            <span style="margin-left: 2%;font-size:medium;">Logistics</span>
          </a>
        </li>
        <!-- <li>
            <a
              class="nav-link px-3 sidebar-link"
              data-bs-toggle="collapse"
              href="#layouts"
            >
              <span class="me-2"><i class="bi bi-eye"></i></span>
              <span>View</span>
              <span class="ms-auto">
                <span class="right-icon">
                  <i class="bi bi-chevron-down"></i>
                </span>
              </span>
            </a>
            <div class="collapse" id="layouts">
              <ul class="navbar-nav ps-3">
                <li>
                  <a href="#" class="nav-link px-3">
                    <span class="me-2"
                      ><i class="bi bi-speedometer2"></i
                    ></span>
                    <span>Products</span>
                  </a>
                </li>
                <li>
                  <a href="#" class="nav-link px-3">
                    <span class="me-2"
                      ><i class="bi bi-speedometer2"></i
                    ></span>
                    <span>Sellers</span>
                  </a>
                </li>
              </ul>
            </div>
          </li>
            -->

        <li class="my-4">
          <hr class="dropdown-divider bg-light" />
        </li>
        <li>
          <div class="text-muted small fw-bold text-uppercase px-3 mb-3">
            Addons
          </div>
        </li>
      </ul>
    </nav>
  </div>
</div>