<div id="reg3" class="d-flex flex-column flex-md-row align-items-center pb-3 mb-4 border-bottom">
   
  <div class="row">
      <div class="col">
        <span>
        <i class="bi bi-cart4" style="color: floralwhite;"></i>
      </span>
       <h1>Easy Cart</h1>
      </div>
    </div>

  <nav class="d-inline-flex mt-2 mt-md-0 ms-md-auto">
    
    <!-- <a class="me-3 py-2 text-dark text-decoration-none" routerLink="#">Home</a> -->
    
  </nav>
</div>

<div class="row">
    <div class="col"></div>
    <div class="col">
      <h1 style="text-align: center;">Seller Registration Form</h1>
      <form [formGroup]="sellerReg" (ngSubmit)="register()" style="margin-top: 10%;margin-left: 5%;">
        <div class="mb-3">
          <label for="name" class="form-label">Name</label>
          <input type="text" class="form-control" id="firstName" formControlName="name" name="name"
            >
            <div *ngIf="this.sellerReg.get('name')?.touched && f.name.errors?.required" class="error">Can not be Empty
            </div>
            <div *ngIf="this.sellerReg.controls['name'].errors?.pattern" class="error">Invalid Name </div>
            <br>
        </div>
        <div class="mb-3">
            <label for="cName" class="form-label"> Category Name</label>
            <input type="text" class="form-control" id="cName" formControlName="cName" name="cName"
              >
              <div *ngIf="this.sellerReg.get('cName')?.touched && f.cName.errors?.required" class="error">Can not be Empty
              </div>
              <div *ngIf="this.sellerReg.controls['cName'].errors?.pattern" class="error">Invalid entry </div>
              <br>
          </div>
       
        <div class="mb-3">
          <label for="name" class="form-label">Address</label>
          <input type="text" class="form-control" id="address" formControlName="address" name="address"
          >
          <div *ngIf="this.sellerReg.get('address')?.touched && f.address.errors?.required" class="error">Can not be Empty
          </div>
          <div *ngIf="this.sellerReg.controls['address'].errors?.pattern" class="error">Invalid Address </div>
          <br>
        </div>
        <div class="mb-3">
          <label for="name" class="form-label">City</label>
          <input type="text" class="form-control" id="city" formControlName="city" name="city"
            >
            <div *ngIf="this.sellerReg.get('city')?.touched && f.city.errors?.required" class="error">Can not be Empty
            </div>
            <div *ngIf="this.sellerReg.controls['city'].errors?.pattern" class="error">Invalid  City </div>
            <br>
        </div>
        <div class="mb-3">
          <label for="name" class="form-label">State</label>
          <input type="text" class="form-control" id="state" formControlName="state" name="state"
            >
            <div *ngIf="this.sellerReg.get('state')?.touched && f.state.errors?.required" class="error">Can not be Empty
            </div>
            <div *ngIf="this.sellerReg.controls['state'].errors?.pattern" class="error">Invalid State </div>
            <br>
        </div>
        <div class="mb-3">
          <label for="name" class="form-label">Country</label>
          <input type="text" class="form-control" id="country" formControlName="country" name="country"
            >
            <div *ngIf="this.sellerReg.get('country')?.touched && f.country.errors?.required" class="error">Can not be Empty
            </div>
            <div *ngIf="this.sellerReg.controls['country'].errors?.pattern" class="error">Invalid Country </div>
            <br>
        </div>
        <div class="mb-3">
          <label for="name" class="form-label">Zip Code</label>
          <input type="text" class="form-control" id="zipCode" formControlName="zipCode" name="zipCode"
            >
            <div *ngIf="this.sellerReg.get('zipCode')?.touched && f.zipCode.errors?.required" class="error">Can not be Empty
            </div>
            <div *ngIf="this.sellerReg.controls['zipCode'].errors?.pattern" class="error">Invalid ZIP Code </div>
            <br>
        </div>
        <div class="mb-3">
          <label for="exampleInputPassword1" class="form-label">Phone Number</label>
          <input type="text" class="form-control" formControlName="ph" name="ph" id="phones" >
          <div *ngIf="this.sellerReg.get('ph')?.touched && f.ph.errors?.required" class="error">Can not be Empty
          </div>
          <div *ngIf="this.sellerReg.controls['ph'].errors?.pattern" class="error">Invalid Phone Number </div>
          <br>
        </div>
        
        <div class="mb-3">
          <label for="exampleInputEmail1" class="form-label">Email address</label>
          <input type="email" class="form-control" formControlName="email" name="email" id="email"
            aria-describedby="emailHelp">
            <div *ngIf="this.sellerReg.get('email')?.touched && f.email.errors?.required" class="error">Can not be Empty
            </div>
            <div *ngIf="this.sellerReg.controls['email'].errors?.pattern" class="error">Invalid Email </div>
            <br>
        </div>
        <div class="mb-3">
            <label for="exampleInputPassword1" class="form-label">Password</label>
            <input type="password" class="form-control" formControlName="password" name="password"
              id="exampleInputPassword1">
              <div *ngIf="this.sellerReg.get('password')?.touched && f.password.errors?.required" class="error">Can not be Empty </div>
            <div *ngIf="this.sellerReg.controls['password'].errors?.pattern" class="error">Invalid Password </div>
            <br>
          </div>
          <div class="form-group">
            <label for="file">Image Upload:</label>
            <input type="file" class="form-control" accept="image/*" (change)="onSelectFile($event)" style="height: 100%;">
          </div>
  
        <button type="submit" class="btn btn-primary">Submit</button>
      </form>
  
    </div>
    <div class="col"></div>
  </div>